.download-button {
	width: 100%;
	padding: 0.5rem 2rem;
	border: $spacing-primary solid;
	border-radius: 2rem;
	font-weight: $baiJamjuree-semibold;
	color: #fff;

	&-ios {
		border-color: $strongCyan;
		background-color: $strongCyan;
	}

	&-mac {
		border-color: $lightBlue;
		background-color: $lightBlue;
	}
}
